<div class = "container">
	<div class = "jumbotron center">
		<h1>Progress</h1>
		<p>Track the work of individual team members to increase efficiency and keep everyone on the same page</p>
		<p>
			<%= link_to "Log In", "#", class: "btn btn-default btn-lg"%>
			<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg"%>
		</p>
	</div>
</div>